<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body>
    <!-- <div class="main-container">
      <h1>Create Your VERY OWN Todolist!</h1>
    </div>
    <div class="login">
      <a href="/login"> Login</a>
      <a href="/signup"> Signup</a>
    </div> -->

    <div class="main-container">
      <!-- <h4 class="sub--main-title">High standards, high quality</h4> -->
      <h1 class="main-title">Create your own virtual sticky notes</h1>
      <p class="description">
        Running out of space on your desk for sticky notes? Why not put some on
        your virtual screen too.
      </p>
      <!-- <button type="button" class="main-button">Learn more</button> -->
      <div class="main-button-ctn">
        <a href="/login" class="main-button"> Login</a>
        <a href="/signup" class="main-button"> Signup</a>
      </div>
    </div>
  </body>
</html>
